# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SC_LAB２\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
